<h1>Manuales de la Máquina</h1>

<br/>

<%= image_tag("icon_pdf.png")%><a href="#">Manual de Reparación MX322T-T</a>
<br/>

<%= image_tag("icon_pdf.png")%><a href="#">Configuraciones Basicas</a>

<br/>
<%= image_tag("icon_pdf.png")%><a href="#"> Manual de Desarme</a>

<br/>
<%= image_tag("icon_pdf.png")%><a href="#">Manual de Instalación</a>

